---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About Page</h1>
        <a href="/">Home</a>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/posts/post-1"></a>
        <h2>
            ... the new Astro site
        </h2>
        <p>
            working this through astro's introductory tutorial,
            the second page on this tutorial that makes this an MPA 
        </p>
        <p>
            React works in SPA and astro can work on MPA this will be awesome
        </p>
	</body>
</html>
