---
import '../styles/global.css'
import Baselayout from '../layouts/BaseLayout.astro'

const pageTitle = 'About me'
const identity = {
    firstName: 'Andres Felipe',
    lastName: 'Obando',
    country: 'Colombia',
    occupation: 'Student/Developer',
    hobbies: ['shows','videogames','music','basketball']
}
const skills = ['HTML','CSS','JS','TS','React','Astro']

const happy = true
const finished = true
const goal = 3

---

<Baselayout pageTitle={pageTitle}>
    <h2>
        Some facts or not about me:
    </h2>
    <ul>
        <li class="skill">
            My name is {identity.firstName +" "+ identity.lastName}
        </li>
        <li class="skill">
            I live in {identity.country} and I work as a {identity.occupation}
        </li>
        {
            identity.hobbies.length >= 2 ? 
            <li class="skill">
                Some of my Hobbies are:
                {
                    identity.hobbies.map((ob) => {
                        return ob + ", "
                    })
                }
            </li>
            : 
            <li class="skill">
                The truth is I dont have    
            </li>
        }
    </ul>
    <p>
        My skills are: {skills.map((ob) => <li>{ob}</li>)}
    </p>
    {happy && <p>I am happy to be learning astro</p> }
    {finished && <p>I finished this tutorial</p> }
    {goal === 3 ? <p>My goal is to finish this in 3 days</p> : <p>I have finished this</p> }
</Baselayout>
