---
import Baselayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro"
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
const pageTitle = 'Blog'
---

<Baselayout pageTitle={pageTitle}>
    <p>
        this is the blog section dude jajajaj
    </p>
    <ul>
        {
            allPosts.map((data) => {
                return <BlogPost title={data.data.title} url={`/posts/${data.slug}`} />
            })
        }
    </ul>
</Baselayout>

